.sudoku-row {
    display: flex;
}

.sudoku-cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
}

.sudoku-cell:nth-child(3n) {
    border-right: 2px solid #000;
}

.sudoku-row:nth-child(3n) .sudoku-cell {
    border-bottom: 2px solid #000;
}